# .gitignore
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ansible
image-builder/tmp

# Secrets
*.secret.tfvars
*.secrets.tfvars
.secrets.tfvars
.envrc
secrets.auto.tfvars

# macos
.DS_Store
