#cloud-config
preserve_hostname: false
users:
  - name: fedora
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /usr/bin/zsh
    lock_passwd: false
    passwd: "{{ hashed_password }}"
    ssh_authorized_keys:
      - "{{ ssh_pub_key }}"

write_files:
  - path: /root/.zshrc
    owner: root:root
    permissions: '0644'
    content: |
{%- raw %}
      eval "$(starship init zsh)"
      eval "$(zoxide init zsh)"
      source <(fzf --zsh)

      # Aliases
      alias ll="eza --tree --level 1 --icons=always --header --long"
      alias vim="nvim"
{%- endraw %}

  - path: /home/fedora/.zshrc
    owner: fedora:fedora
    permissions: '0644'
    defer: true
    content: |
{%- raw %}
      eval "$(starship init zsh)"
      eval "$(zoxide init zsh)"
      source <(fzf --zsh)

      # Aliases
      alias ll="eza --tree --level 1 --icons=always --header --long"
      alias vim="nvim"
{%- endraw %}
